<header>
  <mat-toolbar class="toolbar">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>NFL Pickem</h1>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="addUserDialog()">
        Add User
      </button>
      <button mat-menu-item (click)="commishLoginDialog()">
        Commmissioner Login
      </button>
      <button *ngIf="(commishLoggedIn)" mat-menu-item (click)="updateSeason()">Update Season</button>
      <button *ngIf="(commishLoggedIn)" mat-menu-item (click)="updateResults()">Update Results</button>
      <button *ngIf="(commishLoggedIn)" mat-menu-item (click)="removeUserDialog()">Remove User</button>
      <button *ngIf="(commishLoggedIn)" mat-menu-item (click)="setupSeason()">Setup Season</button>
      <button *ngIf="(commishLoggedIn)" mat-menu-item (click)="deleteSeason()">Delete Season</button>
    </mat-menu>
  </mat-toolbar>
</header>
<body class="main">
  <div class="col-one">
    <app-week-selection></app-week-selection>
    <app-week-games></app-week-games>
    <app-week-bye></app-week-bye>
  </div>
  <div class="col-two"><app-users></app-users></div>
</body>
